#section-about .about-container {
	padding: 0;
	margin: 0;
  background: url("./images/about/global-index-banner-1.png") no-repeat bottom right;
  background-size: cover;
	position: relative;
	min-height: 65vh;
	justify-content: flex-end;
	@include mobile {
		min-height: 35vh;
	}
}

.about-content {
	max-width: 700px;
	padding: 7%;
	h2 {
		color: white;
		padding: 0;
		margin: 0;
	}
	p {
		color: white;
		padding: 0;
		margin: 0;
	}
}
