
#section-contact-forms .container {
  background-color: $black;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  .head-appointment {
    padding: 0;
    margin: 0;
    text-align: center;
    h1 {
      color: white;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  h2 {
    color: $gold;
    padding: 10px;
  }
  .contact-info {
    i {
      font-size: 2rem;
      padding:10px;
    }
    p {
      font-size: 1.5rem;
      color: white;
    }
  }

  .forms input[type="text"] {
      margin: 4px;
      min-width: 100%;
  }
}

// part map
#contact-map .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

// contact part -------------------------
#section-contact-forms {
  .forms {
    .contact1 {
      justify-content: flex-start;
    }
  }
  .contact2 {
    text-align: left;
    font-size: 2px;
  }
}
.forms {
  .contact1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include mobile {
      flex-flow: column;
    }
  }

  .contact1 input {
    background-color: rgba(#ffffff, 0);
    border-radius: 15px;
    border-width: 3px;
    flex: 1;
    padding: 15px;
    margin: 20px;
  }
  .contact2 {
    text-align: center;
    font-size: 2px;
  }
}
.wpcf7-submit {
  background-color: white;
  color: $black;
  font-size: 1.2rem;
  width: 150px;
  border-radius: 10px;
}
[placeholder] {
color: white !important;
}
