
#section-contact-forms {
  background-color: $black;

  .container {
    .head-appointment {
      padding: 0;
      margin: 0;
      text-align: center;
      h1 {
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
    h2 {
      color: $gold;
      padding: 10px;
    }
    .contact-info {
      i {
        font-size: 2rem;
        padding: 15px;
      }
      p {
        font-size: 1.5rem;
        color: white;
      }
    }
  }
}
// part map
#contact-map .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

// contact part -------------------------
#section-contact-forms {
  .forms {
    .contact1 input {
      background-color: rgba(#ffffff, 0);
      border-radius: 15px;
      border-width: 3px;
      flex: 1;
      padding: 10px;
      margin: 10px 0;
      min-width: 100%;
    }
  }
  .wpcf7-text {
    padding: 10px 0;
  }
  .wpcf7-textarea {
    background-color: rgba(#ffffff, 0);
    border-radius: 15px;
    border-width: 3px;
    min-width: 100%;
    padding: 10px;
    margin: 10px 0;

  }
  .wpcf7-submit {
    background-color: white;
    color: $black;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    &:hover {
      background-color: $gold;
      cursor: pointer;
      color: white;
    }
  }
}
