
#section-contact-forms .container {
  background-color: $black;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  .head-appointment {
    padding: 0;
    margin: 0;
    text-align: center;
    h1 {
      color: white;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  h3 {
    color: $gold;
  }
  .contact-info {
    i {
      font-size: 2rem;
      padding: 0 10px;
    }
    p {
      font-size: 1.5rem;
      color: white;
    }
  }

  .forms input {
      margin: 4px;
      min-width: 100%;
  }
}

// part map
#contact-map .container {
  padding: 0;
  margin: 0;
  width: 100%;
}
