// section-slider
#section-slider {
	background-color: black;
	.separator {
			border-bottom: 10px solid $gold;
	}

	.right-top {
	    position: absolute;
	    margin-left: 50%;
	    margin-top: 5%;
	    @media  only screen  and (max-width: 800px){
	      position: absolute;
	      margin-top: 20%;
	      background-position: left;
	    }

		h1 {
			color: $gold;
			justify-content: center;
			@include mobile {
				margin-top: 15%;
			}
		}
	}
}

.main-screen {
  z-index: 98;
  padding: 0;
  height: 70vh;
  width: 100vw;
  position: relative;
	@include mobile {
		height: 190px;
	}
}

.slideshow {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 99;
  list-style: none;
}

.slider-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  display: block;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  opacity: 0;
}

.active {
  opacity: 1;
}

.slider-image:nth-of-type(1) {
  background: url("./images/slider/slider1.jpg") no-repeat top center;
  background-size: cover;
}

.slider-image:nth-of-type(2) {
	background: url("./images/slider/slider2.jpg") no-repeat top center;
	background-size: cover;
  }

.slider-image:nth-of-type(3) {
  background: url("./images/slider/slider3.jpg") no-repeat top center;
  background-size: cover;
}


.slider-image:nth-of-type(4) {
  background: url("./images/slider/slider4.jpg") no-repeat top center;
  background-size: cover;
}

// main-categories
#main-categories {
	.separator {
			border-bottom: 10px solid $gold;
	}

  margin: 0;
  padding: 0;
  background-color: $black;

	h1 {
		font-family: $font-primary;
		text-align: center;
		color: white;
		margin: 0;
		padding: 0;
	}

  .container {

    h3 {
      font-family: $font-primary;
      text-align: center;
      margin: 0;
      padding: 0;
      color: white;
    }

    .category {
      width: 30%;
			min-width: 300px;
      display: flex;
			padding: 30px;
      flex-direction: column;

      a {
        text-decoration: none;
      }

      img {
        object-fit: cover;
				background-color: #eeeeef;
        width: 100%;
				min-width: 300px;
        margin: 0;
        padding: 0;
				border-radius: 20px;

      }
    }
  }
}
// section-helpyou -------------------------
#section-helpyou {
  margin: 0;
  padding: 0;
  background-color: $red;

  .container {

		h2 {
			font-family: $font-primary;
			text-align: center;
			color: white;
			margin: 0;
			padding: 0;
		}

    h3,h5 {
      font-family: $font-secondary;
      text-align: center;
      margin: 0;
      padding: 0;
      color: white;
			text-align: center;
    }

    .helpyou {
      display: flex;
			min-width: 200px;
      flex-direction: column;
			width: 30%;
			padding: 30px;

      a {
        text-decoration: none;
      }

      img {
        object-fit: cover;
        width: 100%;
				min-width: 200px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
// section-rich -------------------------
#section-rich {
  margin: 0;
  padding: 0;
  background: $black;

	h1 {
		font-family: $font-primary;
		text-align: center;
		color: white;
		margin: 0;
		padding: 0;
	}

  .container {

    h3 {
      font-family: $font-primary;
      margin: 0;
      padding: 0;
      color: white;
    }

		p {
			font-family: $font-secondary;
			margin: 0;
			padding: 0;
			color: white;
		}

		.riches {
			margin: 30px 0;
			justify-content: center;
		}

    .rich1 {
      min-width: 400px;
      width: 50%;
			margin: 20px 0;
			padding: 0 20px;
      a {
        text-decoration: none;
      }
      img {
        object-fit: cover;
				border-radius: 50%;
        margin: 0;
        padding: 5px;
      }
    }
  }
}

// section-testimonial -------------------------
#section-testimonial {
  margin: 0;
  padding: 0;
  background-color: $gold;

	h3 {
		font-family: $font-primary;
		text-align: center;
	}
	.autor {
		text-align: right;
	}
}

// section-signup -------------------------
#section-signup {
  margin: 0;
  padding: 0;
  background-image: url(images/global-index-newsletter-photo.png);
  background-size: cover;
  background-position: center;
	.container {
		.signup-top {
			h3 {
			font-family: $font-primary;
			color: white;
			text-align: center;
		  }
		}

		.signup-down {
			p {
				color: white;
			}
		}
	}

	// contact part -------------------------
	.forms {
		.contact1 {
		  display: flex;
		  flex-flow: row wrap;
		  justify-content: center;
			@include mobile {
				flex-flow: column;
			}
		}

		.contact1 input {
			background-color: rgba(#ffffff, 0);
			border-radius: 15px;
			border-width: 3px;
		  flex: 1;
			padding: 15px;
			margin: 20px;
		}
		.contact2 {
		  text-align: center;
			font-size: 2px;
		}
	}
	.wpcf7-submit {
		background-color: white;
		color: $black;
		font-size: 1.2rem;
		width: 150px;
		border-radius: 10px;
	}
}
[placeholder] {
	color: white !important;
}
